.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav{
  color: lightskyblue;
  padding: 20px;
  display: flex;
 justify-content: space-between;
  background-color:aliceblue;
  
}

.opt{
  padding: 20px;
  margin-right: 20px;
  
}

.Home{
  padding: 20px;
  font-size: 20px;
  font-weight: bold;
}
.About{
  font-size: 20px; 
  padding: 20px;
  font-weight: bold;

}

.form{
  padding: 30px;

}


.bal{
  padding: 2px 20px;
  color: white;
  border-radius: 5px;
  background-color:lightseagreen ;
}


.depo{
  color: lightslategray;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
}

.btn1{
  font-size: 30px;
  color: white;
  background-color: lightgreen;
  border: none;
  border-radius: 8px;
   width: 50px;
   height: 50px;
   margin-left: 20px;
   margin-right: 20px;
}
.btn2{
  color: white;
  font-size: 27px;
  background-color: lightgreen;
  border: none;
  border-radius: 8px;
  width: 50px;
  height: 50px;
  margin-left: 20px;
  margin-right: 20px;
}

.h3{
  color: lightseagreen;
  display: flex;
  align-items: center;
  justify-content: center;
}

.abt{
  color: lightseagreen;
  display: flex;
  align-items: center;
  justify-content: center;
}
